<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	 	 <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/app</property>
         <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">salima</property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		
		<mapping class="com.app.model.Demande" />
		<mapping class="com.app.model.Departement" />
		<mapping class="com.app.model.Pole" />
		<mapping class="com.app.model.Type" />
		<mapping class="com.app.model.User" />
		<mapping class="com.app.model.Etat" />
		<mapping class="com.app.model.Admin" />
		<mapping class="com.app.model.Employe" />
		<mapping class="com.app.model.Responsable" />
		<mapping class="com.app.model.Directeur_RH" />
	</session-factory>
</hibernate-configuration>